<div class="ui horizontal list">

    <div class="item">
        <div class="content">
            <div class="header">Namespace</div>
            {{namespace}}
        </div>
    </div>

    <div class="item">
        <div class="content">
            <div class="header">Count</div>
            {{count}}
        </div>
    </div>

    <div class="item">
        <div class="content">
            <div class="header">Total Size</div>
            {{size}} mb
        </div>
    </div>

</div>

<table class="ui table segment">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="image in images">
            <td>{{image.name}}</td>
            <td>{{image.size}} mb</td>
            <td class="{{image.status|servicestatus}}">{{image.status}}</td>
            <td>
                <div class="ui inline group">
                    <i class="refresh icon"></i>
                    <i class="trash icon"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="ui fluid form segment">

    <div class="two fields">
        <div class="field">
            <label>Image</label>
            <input placeholder="Image name" type="text" ng-model="deployName">
        </div>
    </div>
    Deploying an image to the cluster will cause all hosts to pull down the image so that they have a local copy.
    <div class="ui two column grid">
        <div class="column">
            <div class="ui  progress">
                <div id="deploy-progress" class="bar" style="width: 0%;"></div>
            </div>
        </div>

        <div class="column">
            <div id="deploy-button" class="ui blue submit button" ng-click="deployImage()">Deploy</div>
        </div>
    </div>
</div>