<div class="ui menu">
    <a class="active item" href="/">
        <i class="hdd icon"></i>Hosts
    </a>
    <a class="item" href="/#/containers">
        <i class="tasks icon"></i>Containers
    </a>
</div>

<div class="ui two column grid">
    <section class="column">
        Cpu
        <canvas id="chart-cpu" width="350">
            Get a better browser!
        </canvas>
    </section>
    <section class="column">
        Memory
        <canvas id="chart-memory" width="350">
            Get a better browser!
        </canvas>
    </section>
</div>

<div class="ui fitted divider"></div>

<div ng-include="template" ng-controller="HostsController"></div>
