<div class="ui red message" style="margin-top:5px;">
    There are a few issues in the cluster that require attention!
</div>
<table class="ui table segment">
    <thead>
        <tr>
            <th>Name</th>
            <th>IP</th>
            <th>CPUs</th>
            <th>Memory</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="host in hosts">
            <td>{{host.name}}</td>
            <td>{{host.ip_address}}</td>
            <td>{{host.cpus}}</td>
            <td>{{host.total_memory|tomb}} mb</td>
        </tr>
    </tbody>
</table>