<div id="image-modal" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Deploy Image
    </div>

    <div class="content">
        <div class="ui fluid form segment">
            Deploying an image to the cluster will cause all hosts to pull down the image so that they have a local copy.
            <div class="two fields">
                <div class="field">
                    <label>Image</label>
                    <input placeholder="Image name" type="text" ng-model="deployName">
                </div>
            </div>
        </div>
        <div id="image-loader" class="ui active dimmer">
            <div class="ui loader"></div>
        </div>
    </div>

    <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button">Pull</div>
    </div>
</div>

