<div class="ui styled floating sidebar">
    Run a container on the cluster:
    <div class="ui form segment">
        <div class="field">
            <label>Image</label>
            <input placeholder="Image" type="text" ng-model="image">
        </div>

        <div class="field">
            <label>Cpu Profile</label>
            <div class="grouped inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="profile" value="high" ng-model="cpuProfile">
                        <label>High</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="profile" value="medium" ng-model="cpuProfile">
                        <label>Medium</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="profile" value="low" ng-model="cpuProfile">
                        <label>Low</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Cpu Cores</label>

            <div class="ui inline fields labeled icon input">
                <div class="field disabled">
                    <input type="number" value="{{cores}}" disabled>
                </div>

                <div class="right field">
                    <div class="ui mini icon buttons" style="display: inline-block;">
                        <div class="ui show button" ng-click="coresUp()">
                            <i class="plus icon"></i>
                        </div>
                        <div class="ui hide button" ng-click="coresDown()">
                            <i class="minus icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>Memory (mb)</label>
            <input type="number" value="{{memory}}">
        </div>

        <div class="field">
            <label>Scale</label>
            <div class="ui inline fields labeled icon input">
                <div class="field disabled">
                    <input type="number" value="{{scale}}" disabled>
                </div>

                <div class="right field">
                    <div class="ui mini icon buttons" style="display: inline-block;">
                        <div class="ui show button" ng-click="scaleUp()">
                            <i class="plus icon"></i>
                        </div>
                        <div class="ui hide button" ng-click="scaleDown()">
                            <i class="minus icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" id="is-service-checkbox">
                <label>Service</label>
            </div>
        </div>

        <div class="ui right blue submit button" ng-click="launchContainers()">Launch</div>

    </div>
</div>
</div>

<script>
    $('.ui.checkbox')
        .checkbox();

    $('.ui.radio.checkbox')
        .checkbox();
</script>